html, body {
    background-color: #37c0fb !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

ul#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    border: 1px solid #adafb2;
    border-width: 1px 0;
    overflow: hidden;
    font-weight: bold;
}

ul#countdown li {
    padding: 2%;
    text-align: center;
    font-size: 2em; /* Tamaño de fuente relativo */
}

ul#countdown .label {
    font-size: 1em; /* Tamaño de fuente relativo para etiquetas */
    text-transform: uppercase;
}

ul#countdown .number {
    margin-bottom: 5px;
}

/* Media queries para tamaños de pantalla específicos */
@media screen and (max-width: 768px) {
    ul#countdown li {
        font-size: 3vw; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
    
    ul#countdown .label {
        font-size: 1.5vw; /* Ajusta el tamaño de fuente de las etiquetas para pantallas pequeñas */
    }
}
