
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<section class="fluid">
    <div class="container">
        <ul id="countdown">
            <li id="days">
                <div class="number">00</div>
                <div class="label">Days</div>
            </li>
            <li id="hours">
                <div class="number">00</div>
                <div class="label">Hours</div>
            </li>
            <li id="minutes">
                <div class="number">00</div>
                <div class="label">Minutes</div>
            </li>
            <li id="seconds">
                <div class="number">00</div>
                <div class="label">Seconds</div>
            </li>
        </ul>
    </div>
</section>
